; Compiles to `~/.config/karabiner/karabiner.json with `goku` (or watch with `gokuw`)
{
  :main [
    ; caps lock to f19
    {:des "Caps lock to f19" :rules [
      [:##caps_lock :f19 nil {:alone :escape}]
    ]}

    {:des "Both shift keys toggles caps lock" :rules [
      [:!S#Pright_shift :caps_lock]
      [:!R#Pleft_shift :caps_lock]
    ]}
  ]
}
